@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  height: 100vh;
}

@layer base {
  h1 {
    @apply font-black text-5xl;
  }

  h2 {
    @apply font-black text-2xl md:text-3xl mb-8;
  }

  h3 {
    @apply font-bold text-xl;
  }
}

.card {
  @apply bg-gray rounded-md;
}

.article-spacing > p {
  @apply my-6;
}

.nav-link {
  @apply px-2;
}

.active-nav-link {
  @apply bg-white rounded-sm text-primary w-fit self-end;
}

/* lists */
.bullet-list > li {
  @apply my-2;
}

/* timeline */
.timeline-header {
  @apply text-base md:text-lg;
}

.timeline-bullet {
  margin-bottom: 1em;
}

.timeline-bullet::before {
  content: "";
  position: absolute;
  top: 1.8em;
  left: 7.85em;
  width: 0.3em;
  height: 1.4em;
  background: #3772ff;
  z-index: 1;
}

.timeline-bullet:last-child::before {
  display: none;
}

/* nav bar hamburger */
.hamburger-container {
  display: flex;
  background-color: transparent;
  height: 10px;
  padding: 10px 0;
  margin-top: 2px;
  justify-content: flex-end;
  align-items: center;
}

.hamburger-container:hover > .hamburger::after,
.hamburger::before {
  background-color: white;
}

.hamburger-container:hover > .hamburger::before {
  background-color: white;
}

.hamburger::after,
.hamburger::before {
  content: "";
  display: block;
  width: 18px;
  height: 3.5px;
  border-radius: 10px;
  background-color: white;
  margin: 3px 0px;
  transition: 0.3s;
}

.hamburger::after {
  transform: rotate(0deg) translate(0px, 0px);
}

.hamburger::before {
  transform: rotate(-180deg) translate(0px, 0px);
}

.hamburger--active::after {
  transform: rotate(-135deg) translate(4.5px, 0px);
}

.hamburger--active::before {
  transform: rotate(-45deg) translate(-5.5px, 0px);
}
